body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, 'sans-serif';
}


* {
    box-sizing: border-box;
}

/**
    Container
 */
.container {
    max-width: 1200px;
    margin: 0 auto;
}


/**
    Info Layer
 */
.info-box {

}

.header-inner {
    display: flex;
    align-items: center;
}

.header-name {
    width: 545px;
    font-size: 22px;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px #3c3838;
    text-align: right;
}

.header-menu {
    width: calc(100% - 545px);
    text-align: right;
}

.header-menu a {
    text-decoration: none;
    display: block;
    padding: 0 20px;
    line-height: 60px;
    font-size: 22px;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px #3c3838;
}

.info-container {
    display: flex;
    align-items: center;
}

.info-photo {
    display: block;
    width: 350px;
}

.info-photo img {
    max-width: 100%;
    height: auto;
}

.info-content {
    padding: 60px 0 0 60px;
    width: calc(100% - 350px);
}

.info-content h1 {
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px #3c3838;
}

.info-content p {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 28px;
    text-shadow: 1px 1px 1px #3c3838;
}

.background-header {
    position: relative;
    background-image: linear-gradient(#9a9a9a, #767676);
}

.background-header:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -80px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 400px;
    border-right-width: 800px;
    border-top: 80px solid #767676;
}

@media (max-width: 765px) {
    .background-header:after {
        display: none;
    }
}

.icon-set {
    display: flex;
    margin: 130px 0 30px 0;
}

.icon-set span {
    width: 25%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 0 0 !important;
    display: block;
    font-size: 20px;
}

.icon-set em {
    font-style: normal;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #767676;
    font-weight: 300;
    margin: 15px 0 0 0;
    padding: 0 20px;

}

.icon-set strong {
    display: block;
    margin: 25px 0 0 0;
}

.reference {
    display: flex;
}

.reference .block {
    width: 50%;
}

.reference .row {
    display: flex;
}

.reference .row .photo {
    width: 100px;
}

.reference .row .photo img {
    width: 100%;
    border-radius: 50%;
}

.reference .row .info {
    width: calc(100% - 100px);
}

.reference .row .info .name {
    font-size: 25px;
    padding: 10px 0 5px 20px;
}

.reference .row .info .popis {
    font-size: 17px;
    padding: 5px 0 10px 20px;
}


.citate {
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin: 100px 0 0 0;
    padding: 30px 0;
    color: black;
    border-top: 3px dotted #CDCDCD;
    border-bottom: 3px dotted #CDCDCD;
}

/**

 */
.verify-logo {
    display: flex;
    margin: 50px 0 0 0;
    align-items: center;
}

.verify-logo div {
    padding: 0 20px;
    width: 170px;
    text-align: center;
}

.verify-logo div img {
    max-height: 60px;
    width: auto;
}

.verify-logo div:first-child {
    padding-left: 0;
}

.client-4 p,
.client-3 p {
    font-size: 13px;
    line-height: 20px;
    color: #3a3a3a;
    display: block;
    padding: 0 10px;
}

.client-4 img,
.client-3 img {
    margin: 0 auto;
}

.client-4 a,
.client-3a {
    height: 110px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}


.client-4 {
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
}

.client-4 div {
    width: 25%;
    text-align: center;
}

.client-3 {
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
}

.client-3 div {
    width: 33.3333%;
    text-align: center;
}

.client-header {
    text-align: center;
    padding: 0;
    margin: 100px 0 20px 0;
    font-size: 28px;
}

.footer-grid {
    display: flex;
    color: #FFF;
    align-items: center;
    margin: 0 auto;
    width: 1080px;
}

.footer-grid div {
    width: 50%;
}

.footer-name {
    font-size: 30px !important;
    font-weight: 600;
}

.footer-grid span {
    display: block;
    font-size: 17px;
    padding: 5px 0;
}

.footer-grid a {
    color: #FFF;
    letter-spacing: 0.5px;
}

.footer-social {
    display: flex;
}

.footer-social a {
    padding: 0 10px;
}

footer {
    background: #767676;
    padding: 50px 0;
    margin: 50px 0 0 0;
}

@media (max-width: 765px) {
    .header-name {
        width: 50%;
        text-align: left;
        padding: 0 0 0 10px;
    }

    .header-menu {
        width: 50%;
    }


    .verify-logo {
        display: block;
    }

    .info-content h1 {
        text-align: center;
    }

    .info-content p {
        text-align: center;
    }

    .verify-logo div {
        display: block;
        text-align: center;
        width: 100%;
        max-width: 100% !important;
        padding: 10px 0 !important;
    }

    .info-container {
        display: block;
    }

    .info-content {
        width: 100%;
        padding: 10px;
    }

    .info-photo {
        width: 300px;
        margin: 0 auto;
    }

    .icon-set,
    .verify-logo {
        flex-wrap: wrap;
    }

    .icon-set span,
    .verify-logo div {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0;
    }

    .client-4 {
        flex-wrap: wrap;
    }

    .client-4 div {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px 0;
    }

    .client-3 {
        display: block;
    }

    .client-3 div {
        width: 100%;
        padding: 10px 0;
    }

    .footer-grid {
        width: 100%;
        display: block;
    }

    .footer-grid div {
        width: 100%;
        padding: 0 20px;
    }

    .footer-social {
        text-align: center;
        width: 200px !important;
        margin: 20px auto !important;
    }
}
